<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288310805270-v5br0qk58ek8s9njie0tts1scbfm2tcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288310805270-v5br0qk58ek8s9njie0tts1scbfm2tcr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>288310805270-9guthtqmnegan8qcfof4cppjnk6s7fih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-vgoD4ipg4v3zWfLOH7Z5K3usbVY3_fk</string>
	<key>GCM_SENDER_ID</key>
	<string>288310805270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saheen.thoughts.app</string>
	<key>PROJECT_ID</key>
	<string>thoughts-app-d9657</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-app-d9657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288310805270:ios:9340e228fade2ead364637</string>
</dict>
</plist>